@font-face {
  font-family: 'Judson';
  src: url('../fonts/Judson/Judson-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Judson';
  src: url('../fonts/Judson/Judson-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla/static/Karla-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}