@font-face {
  font-family: 'Judson';
  src: url('../fonts/Judson/Judson-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Judson';
  src: url('../fonts/Judson/Judson-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla/static/Karla-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla/static/Karla-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla/static/Karla-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
}

header {

  .nav-link {
    text-transform: uppercase;
  }

  .navbar-brand {

    &.custom-logo-link {

      img {
        width: 135px;
      }
    }
  }
}

.site-footer {
  color: $tchc-white;
  background-color: $tchc-gray-5;
}